@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

main {
  height: fit-content;
  margin-bottom: 400px;
}

input,
textarea {
  border: 1px solid;
  text-indent: 10px;
}

.marquee {
  white-space: nowrap;
  animation: marquee 22s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-165%);
  }
}

/* Add this CSS code to your stylesheet */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  right: -8px;
  background-color: transparent;
  color: black;
  font-size: 14px;
  cursor: pointer;
  padding: 2px;
}

input[type="search"]::-webkit-search-cancel-button:before {
  content: "x";
}