@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  height: fit-content;
  margin-bottom: 400px;
}

input .contact-form,
textarea {
  border: 1px solid;
  text-indent: 10px;
}

.marquee {
  white-space: nowrap;
  animation: marquee 22s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-165%);
  }
}

/* Add this CSS code to your stylesheet */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  right: -8px;
  background-color: transparent;
  color: black;
  font-size: 14px;
  cursor: pointer;
  padding: 2px;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
.custom-number-input {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button:before {
  content: "x";
}

.custom-underline {
  position: relative;
  z-index: 1;
}

.underline-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s;
}

a:hover .underline-hover {
  transform-origin: right;
  transform: scaleX(1);
}
